@background: #0c1d23;
@fancy-black: #07090c;
@dotconnect-green: #06ff00;
@dotconnect-blue: #0047fb;

h1, h2, h3, h4, h5, p, blockquote, pre, input, i, span {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
}

.main-wrapper {
  background-color: @background;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: fixed;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}